<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Administration</span>
    <!-- <span class="example-spacer"></span>
    <span class="menu-option">Upload Edible Tree Data</span>
    <span class="menu-option">Upload Tree Coordinates Data</span> -->
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">add_photo_alternate</mat-icon>
    <mat-icon class="example-icon">collections</mat-icon>
    <mat-icon class="example-icon">add_location</mat-icon>
    <mat-icon class="example-icon">explore</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

